<a href="https://colab.research.google.com/github/tinypenguin-Bang/Machine-Deep-Learning-HW/blob/main/2021251496_%EB%B0%A9%EC%A3%BC%ED%98%95_%EA%B3%BC%EC%A0%9C_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 기초적인 Numpy 활용법
*   numpy import하기
*   np.array()를 통해 리스트를 numpy array로 바꾸기
*   array간 의 간단한 연산하기

In [2]:
import numpy as np

# list의 numpy array 변경
A = [1,3,5,7,9]
A_arr = np.array(A)
print(A_arr)

# numpy array간 연산
B = [1,5,9,13,17]
B_arr = np.array(B)
multiply = A_arr * B_arr
print(multiply)

[1 3 5 7 9]
[  1  15  45  91 153]

2차 배열 형태 array 활용
*   2D array 요소 불러오기
*   2D array간 연산 및 행렬곱 적용하기

In [ ]:
C = [[1,5,9,13], [2,6,10,14], [3,7,11,15], [4,8,12,16]]
C_arr = np.array(C)
print(C_arr)
print(C_arr[1][3])

D = [[-16,-16,-16,-16], [-16,-16,-16,-16], [-16,-16,-16,-16], [-16,-16,-16,-16]]
D_arr = np.array(D)
E = C_arr + D_arr
print(E)
C @ E

[[ 1  5  9 13]
 [ 2  6 10 14]
 [ 3  7 11 15]
 [ 4  8 12 16]]
14
[[-15 -11  -7  -3]
 [-14 -10  -6  -2]
 [-13  -9  -5  -1]
 [-12  -8  -4   0]]

array([[-358, -246, -134,  -22],
       [-412, -284, -156,  -28],
       [-466, -322, -178,  -34],
       [-520, -360, -200,  -40]])

*   2D array 전치시키기
*   np.linspace(시작, 끝, 개수) 활용하기

In [ ]:
C_arr.transpose()

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
E.T

array([[-15, -14, -13, -12],
       [-11, -10,  -9,  -8],
       [ -7,  -6,  -5,  -4],
       [ -3,  -2,  -1,   0]])

In [ ]:
np.linspace(2,16,63)

array([ 2.        ,  2.22580645,  2.4516129 ,  2.67741935,  2.90322581,
        3.12903226,  3.35483871,  3.58064516,  3.80645161,  4.03225806,
        4.25806452,  4.48387097,  4.70967742,  4.93548387,  5.16129032,
        5.38709677,  5.61290323,  5.83870968,  6.06451613,  6.29032258,
        6.51612903,  6.74193548,  6.96774194,  7.19354839,  7.41935484,
        7.64516129,  7.87096774,  8.09677419,  8.32258065,  8.5483871 ,
        8.77419355,  9.        ,  9.22580645,  9.4516129 ,  9.67741935,
        9.90322581, 10.12903226, 10.35483871, 10.58064516, 10.80645161,
       11.03225806, 11.25806452, 11.48387097, 11.70967742, 11.93548387,
       12.16129032, 12.38709677, 12.61290323, 12.83870968, 13.06451613,
       13.29032258, 13.51612903, 13.74193548, 13.96774194, 14.19354839,
       14.41935484, 14.64516129, 14.87096774, 15.09677419, 15.32258065,
       15.5483871 , 15.77419355, 16.        ])

배열 자동 생성
*   random.randint(start, end, size = (row size, column size)) 사용하기
*   rand(row size, column size) 사용하기

In [ ]:
F = np.random.randint(1, 50, size = (3,3))
print(F)

G = np.random.rand(3,3)
print(G)

[[16  7 19]
 [ 2 16 27]
 [ 1 43 20]]
[[0.65912109 0.68368306 0.38895035]
 [0.1589892  0.73274661 0.44583795]
 [0.45914551 0.36472489 0.26184937]]

*   랜덤 행렬 연산하기
*   특정 범위 가져오기

In [ ]:
print(F.sum())  # 합
print(F.min())  # 최소
print(F.max())  # 최대
print(F.mean()) # 평균
print(F.std())  # 표준편차
print(F.var())  # 분산

H = np.random.randint(20, size = 10)
print(H)

151
1
43
16.77777777777778
12.344839477627689
152.39506172839506
[ 1 15  5 10  7  7 14  6 12 18]

In [ ]:
print(H[:3])  # 처음
print(H[3:])  # 끝
print(H[4:7]) # 중간
print(H[:])   # 전체

[ 1 15  5]
[10  7  7 14  6 12 18]
[ 7  7 14]
[ 1 15  5 10  7  7 14  6 12 18]

Numpy 형태변환
*   차원 확인(.shape), 차원 추가(.expand_dims(a,b)), 차원 삭제(.squeeze(a))
*   형태 변경(.reshape()), 순서 변경(.transpose())

In [ ]:
I = np.random.randint(0, 63, (2,2,10))
print(I.shape)
print(I)

J = np.expand_dims(I,3)
print(J.shape)
K = np.expand_dims(I,1)
print(K.shape)
L = np.squeeze(J,3)  # squeeze 적용 시 다른 위치는 제거가 불가능하기에, 알아보니 보통 shape가 1인 것만 제거가 가능했습니다.
print(L.shape)

(2, 2, 10)
[[[12 25 10  7 59 34  3 38  8 28]
  [46 39 43 56 35 41 33 47 34 48]]

 [[ 0 32 59  3 12 19 61  8 29 48]
  [30 49 18 38  3  7 17 50 29 46]]]
(2, 2, 10, 1)
(2, 1, 2, 10)
(2, 2, 10)

In [ ]:
M = np.arange(60)
print(M.shape)
N = M.reshape(2,3,10)
print(N.shape)

O = N.transpose(2,1,0)
print(O.shape)

(60,)
(2, 3, 10)
(10, 3, 2)

# 기초적인 Pandas 활용법
*   pandas import하기
*   Series(1차원 배열) 활용하기
*   Dictionary에서 만들어 인덱스 넣기

In [3]:
import pandas as pd

AA = pd.Series([60, 35, 87, 100, 98, 54])
print(type(AA))
print(AA)

BB = pd.Series({'A+':95, 'A':80, 'B+':65, 'B':50, 'C+':35, 'C':15})
print(BB)

<class 'pandas.core.series.Series'>
0     60
1     35
2     87
3    100
4     98
5     54
dtype: int64
A+    95
A     80
B+    65
B     50
C+    35
C     15
dtype: int64

DataFrame(2차원 배열)
*   행의 이름과 열의 이름 적용

In [ ]:
CC = [{'체력':  100, '공격력':  300, '방어력':  200}, 
      {'체력':  500, '공격력':  100, '방어력':  300}, 
      {'체력':  50, '공격력':  500, '방어력':  150}]
CC_df = pd.DataFrame(CC)  #  대소문자 구별 숙지!!!
print(CC_df)

    체력  공격력  방어력
0  100  300  200
1  500  100  300
2   50  500  150

colab 저장 확인

In [4]:
!ls   # 현재 폴더 파일 확인

drive  sample_data

In [5]:
!pwd  # 현재 경로 확인

/content

Pandas 데이터 읽기
*   구글 드라이브 연동하기
*   read_csv() 함수로 외부 csv or txt 파일 데이터 읽기

In [6]:
from google.colab import drive
drive.mount('/g')

Mounted at /g

In [7]:
!ls /g

MyDrive

In [8]:
!ls '/g/MyDrive'

'제목없는 폴더'
'가두모집 시간표 (1).gdoc'
'가두모집 시간표 (2).gdoc'
'가두모집 시간표 (3).gdoc'
'가두모집 시간표 (4).gdoc'
'가두모집 시간표 (5).gdoc'
'Adventure Design 1 (기계융합1) 소홍윤 교수님 조 편성.gsheet'
'Adventure Design 1 (기계융합1) 소홍윤 교수님 기말평가.gsheet'
'Adventure Design 1 (기계융합1) 소홍윤 교수님 중간평가.gsheet'
 ClevMoney
'Colab Notebooks'
'가두모집 시간표.gdoc'
'제목 없는 설문지.gform'

In [9]:
!ls '/g/MyDrive/Colab Notebooks'

'2021251496 방주형 과제 1-2.ipynb'   report.txt

In [10]:
data = pd.read_csv('/g/MyDrive/Colab Notebooks/report.txt', sep = '\t')

In [11]:
data

,컬럼1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2019.42,2019.43,2019.44,2019.45,2019.46,2019.47,2019.48,2019.49,2019.50,2019.51
0,컬럼1,서울시,성별,성별,연령별,연령별,연령별,연령별,연령별,연령별,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
1,컬럼1,서울시,남자,여자,10대,20대,30대,40대,50대,60대 이상,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2,운동을 할 충분한 시간이 없어서,46.8,52.4,42.5,55.3,46,59.9,54.1,46.1,26.6,...,38.5,45.3,53.6,50.2,39.1,44.4,49.9,40.7,47.6,47
3,함께 운동을 할 사람이 없어서,5,4.4,5.6,4.8,4.2,5.2,3.9,6.2,6,...,3.8,5.7,2.4,6.7,13.9,8.8,4.3,4.2,5,5.2
4,운동을 할 만한 장소가 없어서,4.3,4.9,3.9,3.9,4.5,2.9,2.9,4.5,6.6,...,1.9,5.8,2.3,3.8,8.4,5.5,4.1,2,2.3,4.8
5,운동을 싫어해서,37.3,32.4,41,32.6,38.8,27.3,35.5,36.8,48.7,...,50.5,39,37.6,33.9,31.1,34.2,36.6,46.4,39.4,32.4
6,운동을 할 충분한 비용이 없어서,5.2,4.9,5.4,3.5,6.4,4.5,3.3,5.6,6.6,...,4.3,2.9,2.3,5.4,7.6,6.1,3.3,5.2,4.8,8.4
7,기타,1.4,1.1,1.7,-,0.1,0.2,0.4,0.8,5.6,...,1,1.3,1.7,-,-,1,1.8,1.6,1,2.3

In [13]:
data2 = data.transpose()
print(data2)

             0             1                  2                 3  \
컬럼1        컬럼1           컬럼1  운동을 할 충분한 시간이 없어서  함께 운동을 할 사람이 없어서
2019       서울시           서울시               46.8                 5
2019.1      성별            남자               52.4               4.4
2019.2      성별            여자               42.5               5.6
2019.3     연령별           10대               55.3               4.8
2019.4     연령별           20대                 46               4.2
2019.5     연령별           30대               59.9               5.2
2019.6     연령별           40대               54.1               3.9
2019.7     연령별           50대               46.1               6.2
2019.8     연령별        60대 이상               26.6                 6
2019.9     학력별         중졸 이하               24.7               6.2
2019.10    학력별         고졸 이하               44.3               5.3
2019.11    학력별         대졸 이하               53.1               4.7
2019.12    학력별        대학원 이상               61.2                 3
2019.13    소득별      100만원 미만               10.7               8.4
2019.14    소득별  100-200만원 미만               29.6               5.6
2019.15    소득별  200-300만원 미만               42.8               7.3
2019.16    소득별  300-400만원 미만               50.6               4.3
2019.17    소득별  400-500만원 미만                 48               4.6
2019.18    소득별      500만원 이상               52.8               4.3
2019.19  혼인상태별            기혼               48.7               4.5
2019.20  혼인상태별            미혼               50.2               4.9
2019.21  혼인상태별      이혼/사별/기타               31.5               7.2
2019.22  지역대분류           도심권               53.8               3.8
2019.23  지역대분류           동북권               44.5               3.5
2019.24  지역대분류           서북권               50.7               6.6
2019.25  지역대분류           서남권               47.1               6.7
2019.26  지역대분류           동남권               46.3               4.7
2019.27    종로구           종로구               62.2               0.4
2019.28     중구            중구               50.3                 3
2019.29    용산구           용산구               48.9               7.5
2019.30    성동구           성동구               46.5               4.3
2019.31    광진구           광진구                 42               5.7
2019.32   동대문구          동대문구               44.5               4.5
2019.33    중랑구           중랑구               46.7               2.2
2019.34    성북구           성북구               33.3               3.4
2019.35    강북구           강북구               21.3               5.3
2019.36    도봉구           도봉구                 52               3.2
2019.37    노원구           노원구               56.3               1.6
2019.38    은평구           은평구               42.7               8.8
2019.39   서대문구          서대문구               69.8               0.8
2019.40    마포구           마포구               46.6               8.1
2019.41    양천구           양천구               66.2               5.7
2019.42    강서구           강서구               38.5               3.8
2019.43    구로구           구로구               45.3               5.7
2019.44    금천구           금천구               53.6               2.4
2019.45   영등포구          영등포구               50.2               6.7
2019.46    동작구           동작구               39.1              13.9
2019.47    관악구           관악구               44.4               8.8
2019.48    서초구           서초구               49.9               4.3
2019.49    강남구           강남구               40.7               4.2
2019.50    송파구           송파구               47.6                 5
2019.51    강동구           강동구                 47               5.2

                        4         5                  6     7
컬럼1      운동을 할 만한 장소가 없어서  운동을 싫어해서  운동을 할 충분한 비용이 없어서    기타
2019                  4.3      37.3                5.2   1.4
2019.1                4.9      32.4                4.9   1.1
2019.2                3.9        41                5.4   1.7
2019.3                3.9      32.6                3.5     -
2019.4                4.5      38.8                6.4   0.1
2019.5                2.9      27.3                4.5   0.2
2019.6                2.9      35.5                3.3   0.4
2019.7                4.5      36.8                5.6   0.8
2019.8                6.6      48.7                6.6   5.6
2019.9                4.8      48.6                7.3   8.5
2019.10               5.6      38.6                5.5   0.7
2019.11               3.3        34                4.6   0.3
2019.12               5.6        29                0.9   0.3
2019.13               9.9      50.7                9.4  10.9
2019.14                 6      49.1                7.4   2.3
2019.15               3.9      39.5                5.1   1.4
2019.16               4.2      35.5                4.8   0.7
2019.17               3.3      38.7                5.3   0.2
2019.18                 4      33.4                4.5     1
2019.19               4.1      37.3                4.6   0.7
2019.20                 4      35.1                5.6   0.2
2019.21               5.7      42.4                6.4   6.9
2019.22               7.2      28.3                  4   2.9
2019.23               4.1      40.6                5.5   1.8
2019.24               5.1      31.4                5.3   0.9
2019.25               4.7      35.9                4.8   0.8
2019.26               3.1      38.9                5.4   1.5
2019.27               9.4      25.9                2.1     -
2019.28               7.7      25.7                7.6   5.7
2019.29               4.9      32.6                2.7   3.4
2019.30               5.7      34.2                8.7   0.6
2019.31                 3      43.5                5.8     -
2019.32               2.7      41.9                6.2   0.1
2019.33               6.8      32.8               10.9   0.5
2019.34               2.6        58                  2   0.7
2019.35               3.4      68.1                1.9     -
2019.36               6.2      30.8                7.6   0.3
2019.37               2.7      30.1                1.9   7.4
2019.38               7.3      34.3                6.4   0.5
2019.39               1.2      21.9                5.3     1
2019.40               4.7      35.8                3.2   1.5
2019.41               5.9      17.9                4.1   0.1
2019.42               1.9      50.5                4.3     1
2019.43               5.8        39                2.9   1.3
2019.44               2.3      37.6                2.3   1.7
2019.45               3.8      33.9                5.4     -
2019.46               8.4      31.1                7.6     -
2019.47               5.5      34.2                6.1     1
2019.48               4.1      36.6                3.3   1.8
2019.49                 2      46.4                5.2   1.6
2019.50               2.3      39.4                4.8     1
2019.51               4.8      32.4                8.4   2.3

In [14]:
data2.head(5)

,0,1,2,3,4,5,6,7
컬럼1,컬럼1,컬럼1,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
2019,서울시,서울시,46.8,5,4.3,37.3,5.2,1.4
2019.1,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2019.2,성별,여자,42.5,5.6,3.9,41,5.4,1.7
2019.3,연령별,10대,55.3,4.8,3.9,32.6,3.5,-

In [15]:
data2.tail(5)

           0    1     2    3    4     5    6    7
2019.47  관악구  관악구  44.4  8.8  5.5  34.2  6.1    1
2019.48  서초구  서초구  49.9  4.3  4.1  36.6  3.3  1.8
2019.49  강남구  강남구  40.7  4.2    2  46.4  5.2  1.6
2019.50  송파구  송파구  47.6    5  2.3  39.4  4.8    1
2019.51  강동구  강동구    47  5.2  4.8  32.4  8.4  2.3

In [16]:
data2.head()

,0,1,2,3,4,5,6,7
컬럼1,컬럼1,컬럼1,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,운동을 할 충분한 비용이 없어서,기타
2019,서울시,서울시,46.8,5,4.3,37.3,5.2,1.4
2019.1,성별,남자,52.4,4.4,4.9,32.4,4.9,1.1
2019.2,성별,여자,42.5,5.6,3.9,41,5.4,1.7
2019.3,연령별,10대,55.3,4.8,3.9,32.6,3.5,-

In [17]:
data2[3:6]

          0    1     2    3    4     5    6    7
2019.2   성별   여자  42.5  5.6  3.9    41  5.4  1.7
2019.3  연령별  10대  55.3  4.8  3.9  32.6  3.5    -
2019.4  연령별  20대    46  4.2  4.5  38.8  6.4  0.1

In [18]:
data2.describe()

          0    1     2    3    4     5    6   7
count    53   53    53   53   53    53   53  53
unique   33   53    51   36   38    48   36  28
top     연령별  컬럼1  44.5  4.3  3.9  32.4  5.3   -
freq      6    1     2    4    3     2    3   6

In [19]:
data2.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [20]:
data2.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
dtype: object